body {
    font-family: Arial, sans-serif;
    background-color: #151515;
    color: #AFAFAF;
    margin: 0;
    padding-top: 0; /* Adjust for image & navbar */
    text-align: center;
    padding: 0;
}

.header-container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
}

.header-container img {
    display: block;
    width: 100%;
    height: 315px;
    object-fit: cover;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #333;
    padding: 0px 0;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1001;
    margin: 0;
    padding-top: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 px;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
